{%extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{{block.super}}


<main>
  <header id="home" class="masthead">
    <div class="background-overlay">
      <div class="container">
        <div class="header-content">
        </div>
        <div class="content">
          Searching for a job? <br />
          Kazi Mtaani <br />
          got you.
        </div>
        <div>

        </div>
      </div>
    </div>
    </div>
  </header>

  <div class="form-div col-lg-6 col-md-8 mx-auto">
    <form method="POST" class="pt-3" action="{% url 'subscribe' %}">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 pt-3">Subscribe to Our News Letter</legend>
            {{ form|crispy }}
            <button class="btn btn-outline-info mb-3 mt-3" type="submit">Subscribe</button>
        </fieldset>
    </form>
</div>

</main>

{% endblock %}